@page "/"
@page "/products"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject adminShop.Services.IProductService ProductService

<h3>Product Table</h3>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr class="@(product.Quantity < 3 ? "table-warning" : "")">
                    <td>@product.NameProduct</td>
                    <td>@product.Price ₽</td>
                    <td>@product.Category?.NameCategories</td>
                    <td>@product.Quantity</td>
                    <td>
                        @if (product.Quantity < 3)
                        {
                            <span class="text-danger">⚠ Скоро закончится</span>
                        }
                        else
                        {
                            <span class="text-success">В наличии</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="OpenAddProduct">Add New Product</button>

@code {
    private List<shopData.Models.Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetProducts();
    }

    private void OpenAddProduct()
    {
        Navigation.NavigateTo("/add-product");
    }

    private void NavigateToUpdate(int id)
    {
        Navigation.NavigateTo($"/update-product/{id}");
    }

    private async Task DeleteProduct(int id)
    {
        await ProductService.DeleteProduct(id);
        products = await ProductService.GetProducts();
    }
}
